<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" >

    <bean id="account1" class="com.banking.model.Account">
        <constructor-arg name="accountNumber" value="12345"/>
        <constructor-arg name="customerName" value="John Doe"/>
        <constructor-arg name="balance" value="1000.0"/>
    </bean>

    <!-- Bank class to hold accounts -->
    <bean id="bank" class="com.banking.Bank">
        <property name="accounts">
            <map>
                <entry key="12345" value-ref="account1"/>
            </map>
        </property>
    </bean>
</beans>
